[submodule ".habitat-lab"]
	path = .habitat-lab
	url = https://github.com/facebookresearch/habitat-lab.git
[submodule "verl"]
	path = verl
	url = https://github.com/volcengine/verl.git
[submodule "ovon"]
	path = ovon
	url = https://github.com/naokiyokoyama/ovon.git
